.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__group__name
        = @group.name
      .RightHeader__group__member
        %ul.Member
          Member：
          - @group.users.each do |user|
            %li.MemberName
              = user.name
    .RightHeader__editButton
      = link_to "Edit", edit_group_path(@group)
        
  .MessageField
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'inputContent', placeholder: 'type a message'
        = f.label :image, class: 'inputImage' do
          = icon('far', 'image', class: 'inputIcon')
          = f.file_field :image, class: "inputFile"
      = f.submit 'Send', class: 'Form__submit'

